In [1]:
'''
ID:
Analyzing Dataset

In this notebook, we'll do some preliminary analysis of the data by grouping.
'''

"\nID:\nAnalyzing Dataset\n\nIn this notebook, we'll do some preliminary analysis of the data by grouping.\n"

In [2]:
### Loading in libraries.

import pandas as pd
import numpy as np

In [3]:
### In this cell, we load in sales data into a dataframe called 'df'.

df = pd.read_csv("sales_data.csv")
df.head()

,InvoiceNo,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,Year,Month,SalePrice
0,52389,1/1/2014,United Kingdom,2152,UK2,Male,11.0,44,10.5,159,0.0,2014,1,159.0
1,52390,1/1/2014,United States,2230,US15,Male,11.5,44-45,11.0,199,0.2,2014,1,159.2
2,52391,1/1/2014,Canada,2160,CAN7,Male,9.5,42-43,9.0,149,0.2,2014,1,119.2
3,52392,1/1/2014,United States,2234,US6,Female,9.5,40,7.5,159,0.0,2014,1,159.0
4,52393,1/1/2014,United Kingdom,2222,UK4,Female,9.0,39-40,7.0,159,0.0,2014,1,159.0

In [4]:
## Part A (25 pts)

## Let's explore the shape of the dataset.
## Store the shape of the dataset in a variable called 'shape'.
## Find the distribution of males and females. Store the percentage of males in a variable called 'percent_male'.
## Store the average size (UK) in a variable called 'avg_size'.

shape = df.shape
percent_male = len(df[df.Gender == 'Male']) / len(df)
avg_size = df['Size (UK)'].mean()

In [5]:
## Part B  (30 pts)

## Let's find the average sales in each month.
## Store the average sales per month in a list called 'monthly_average_sales'.

df['month_year'] = list(zip(df.Month, df.Year))
grouped = df.groupby('month_year').sum()
grouped.reset_index(inplace = True)
grouped['Month'] = grouped['month_year'].apply(lambda x: x[0])
monthly_average_sales = grouped.groupby('Month').mean()['SalePrice']

In [6]:
## Part C (45 pts)

## Let's compare the products sold per shop. 
## Find a 'ProductID' that is sold in the UK but not in Canada. Store it in a variable called 'uk_not_canada'.
## Find a 'ProductID' that is sold in the US but not in UK. Store it in a variable called 'us_not_uk'.
## Which store has the highest average sale price? Store it in a variable called 'highest_price'.

df_uk = df[df.Shop == 'UK2']
uk_list = np.unique(df_uk.ProductID)

df_us = df[df.Shop == 'US15']
us_list = np.unique(df_us.ProductID)

df_canada = df[df.Shop == 'CAN7']
canada_list = np.unique(df_canada.ProductID)

for i in us_list:
    if i not in uk_list:
        us_not_uk = i
        break

for i in uk_list:
    if i not in canada_list:
        uk_not_canada = i    
        
np.argmax(df.groupby('Shop')['SalePrice'].mean())
highest_price = df.groupby('Shop')['SalePrice'].mean().index[26]