In [1]:
'''
Safety Stock Calculation

In this notebook, we'll use what we know about data engineering and prediction to make
predictions on avearge and monthly sales for each product.
'''

"\nSafety Stock Calculation\n\nIn this notebook, we'll use what we know about data engineering and prediction to make\npredictions on avearge and monthly sales for each product.\n"

In [2]:
### Loading in libraries and reading in data

import pandas as pd
import numpy as np

df = pd.read_csv('sales_data.csv')
df.head()

,InvoiceNo,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,Year,Month,SalePrice
0,52389,1/1/2014,United Kingdom,2152,UK2,Male,11.0,44,10.5,159,0.0,2014,1,159.0
1,52390,1/1/2014,United States,2230,US15,Male,11.5,44-45,11.0,199,0.2,2014,1,159.2
2,52391,1/1/2014,Canada,2160,CAN7,Male,9.5,42-43,9.0,149,0.2,2014,1,119.2
3,52392,1/1/2014,United States,2234,US6,Female,9.5,40,7.5,159,0.0,2014,1,159.0
4,52393,1/1/2014,United Kingdom,2222,UK4,Female,9.0,39-40,7.0,159,0.0,2014,1,159.0

In [3]:
## Part A (50 pts)

## Calculate maximum and average monthly sales for each product independently.
## Store the results in variables called 'max_sales' and 'avg_sales' respectfully.

df['month_year'] = list(zip(df['Month'], df['Year']))
temp = df.groupby(['ProductID', 'month_year'])['SalePrice'].count().reset_index()
max_sales = temp.groupby('ProductID')['SalePrice'].max()
avg_sales = temp.groupby('ProductID')['SalePrice'].mean()

In [4]:
## Part B (50 pts)

## Use the safety stock formula to find the safety stock for each store. 
## Assume that the average lead time for each product is 7 days and maximum is 21 days.
## Store the safety stock for each product in the UK in a list called 'uk_safety_stock'.

safety_stock_max = max_sales * 21
safety_stock_min = avg_sales * 7
safety_stock = safety_stock_max - safety_stock_min